.support-blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 90px;
    column-gap: 90px;
}

.support-block {
    display: flex;
}

.support-block-image {
    height: 60px;
    width: 60px;
    margin-right: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}

.support-block-text {
    font-size: 15px;
}

.support-block-title {
    font-size: 20px;
}

.support-block-cta {
    font-size: 15px;
    color: blue;
    font-weight: bold;
}

.header-block {
    font-size: 30px;
    font-weight: bold;
    margin-block-end: 30px;
}

.subject-block-title {
    font-size: 25px;
}

.subjects-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 90px;
    column-gap: 15px;
}

.subject-block {
    position: relative;
}

@media (max-width:600px) {
    .subject-blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .subject-block-title {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        color: white;
        text-align: center;
        font-size: 40px;
        font-weight: bolder;

    }
}

@media (max-width:600px) {
    .support-block {
        flex-wrap: wrap;
        grid-template-columns: repeat(1, 1fr);

    }
}

.majors-block-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

@media (max-width:600px) {
    .majors-block-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.majors-block {
    position: relative;
}

.majors-block-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.section {
    padding: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.lorem-ipsum {
    font-size: 25px;
}

.header-block-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: white;
    text-align: left;
    font-size: 80px;
    font-weight: bolder;
    padding: 90px;
}

.header {
    position: relative;
}

.header img {
    width: 100%;
}

.sub-nav {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 100px;
}

.header-text {
    font-size: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    border-color: gray;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateX(50%) rotate(-90deg) translateY(-100%);
}

html,
body {
    overflow-x: hidden;
}

/* font-size
line-height
color
margin */