@import "./styles/_variables";
@import "./styles/_nav";
@import "./styles/_hero";
@import "./styles/three-up-item";

.page-section {
  background-color: #DDDDDD;
  padding: 60px 135px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $tabletWidth) {
    padding: 45px 30px;
  }

  @media (max-width: $mobileWidth) {
    padding: 30px 20px;
  }
}