h1 {
    font-size: 70px;
    color: white;
    font-weight: bold;

    @media screen and (max-width: 800px) {
        font-size: 30px;
        color: black;
        font-weight: bold;
    }
}

h2 {
    font-size: 35px;
    padding: 20px;
    border-color: black;
    border-width: 10px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
}

.language {
    color: white;
    font-size: 30px;
    padding-left: 50px;
    align-items: center;
}

.nav-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.interact {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.interact-apply {
    color: black;
    background-color: white;

}

.black-text {
    color: black;
    font-size: 30px;
}

.BAA-logo {
    width: 100px;
    height: 100px;
    padding-right: 80px;
}

.visiter-support {
    background-color: gray;
}

/* ROW 1 ONTOP */
.baa-corner-logo {
    display: flex;
    flex-direction: row;
}

.nav-2 {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    height: 150px;
    justify-content: space-between;
}

.nav-2-interaction {
    display: flex;
    flex-direction: row;
    align-items:
}

/* ROW 2 ONTOP */

.banner {
    background-color: lightgray;
}

.about-title {
    font-size: 60px;
    color: white;
}

/* ABOUT BANNER ONTOP */

.nav-3 {
    display: flex;
    flex-direction: row;
}

.header-box {
    position: relative;
    text-align: center;
    width: 100%;
}

.header-box-image {
    object-fit: fill;
    width: 100%;
}

.header-box-title {
    font-size: 100px;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 100px;
    border-style: solid;
    border-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding-bottom: 50px;
}

.button {
    font-size: 15px;
    color: white;
    padding: 10px;
    background-color: gray;
    border-color: black;
    border-width: 120px;
}

.upcoming-events-title {
    background-color: lightgray;
    padding-bottom: 20px;
}

.title-spacing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 5%;
}

.upcoming-events {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgray;
    padding-bottom: 100px;
}

.upcoming-event-image-wrapper {
    position: relative;

}

.upcoming-event-image {
    background-color: gray;
    height: 300px;
    object-fit: fill;
}

.upcoming-event-date {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 30px;

    background-color: white;
    flex-direction: column;
    text-align: center;
    font-weight: bold;

}

.descriptions {
    padding: 20px;
    color: black;
    text-align: left;
    font-size: 20px;
}

.month {
    font-size: 30px;
}

.day {
    font-size: 50px;
}

.view-all {
    padding: 20px;
    border-color: black;
    border-width: 10px;
    font-size: 20px;
    font-weight: lighter;
    text-align: right;
}

.tour-baa {
    padding: 80px;
    background-color: cornsilk;
}

.donations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    padding: 80px;
}

.donation {
    display: flex;
    flex-direction: column;
}

.donation-image {
    background-color: gray;
    height: 500px;
    object-fit: fill;
}

.student-spotlight-title {
    padding: 10px;
    padding-top: 50px;
    background-color: lightgray;

}

.student-spotlight {
    display: flex;
    flex-direction: row;
    padding: 150px;
    background-color: lightgray;
    padding-top: 20px;
}

.student-spotlight-image {
    height: 500px;
    width: 4000px;
    object-fit: fill;
}

.student-description-background {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 4000px;
}

.student-description {
    padding: 50px;
    font-size: 40px;
    margin-left: 30px;
}

.student-name {
    color: black;
    font-size: 70px;
    font-weight: lighter;
    padding-bottom: 10px;
    padding-top: 5px;
}

.line-spacing {
    line-height: 35px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.student-spotlight-stats {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 20px;
}

.impact {
    padding: 100px;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 50%;
    grid-column-gap: 10%;
}

.impact-circle {
    border-radius: 50%;
    height: 50px;
    object-fit: fill;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.impact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

.gray-line {
    height: 5px;
    background-color: gray;
    width: 100px;
}

.stats {
    width: 200px;
    text-align: center;
    box-shadow: black;
    height: 50spx
}

.impact-highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    padding: 40px;
    grid-gap: 50px;
    grid-row-gap: 150px
}

.month-in-review {
    padding: 40px;
    background-color: lightgray;
}

.month-in-review-title {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.month-in-review-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.month-in-review-image {
    background-color: gray;
    height: 500px;
    object-fit: fill;
}

.more-from {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}

.more-from-title {
    font-weight: bold;
    font-size: 30px;
    padding: 40px;
}

.more-from-buttons {
    color: white;
    padding: 40px;
    border-style: solid;
    border-color: gray;
    border-width: 8px;
    background-color: rgb(160, 160, 160);

}

.student-illustration {
    font-size: 100px;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border-style: solid;
    border-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 170px;
    background-color: gray;
}

.footer-title {
    padding: 40px;
    font-size: 100px;
    color: white;
}

.designing-their-future {
    position: absolute;
    right: 0;
    bottom: 0;
}

.interaction-buttons-1 {
    font-size: 45px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.interaction-buttons-2 {
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.interaction-buttons-box {
    color: white;
    font-size: 50px;
    padding: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    background-color: gray;
}

.shop-interaction-button {
    color: gray;
    font-size: 50px;
    padding: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    background-color: white;
}

.placeholder-image {
    width: 100px;

}

.student-illustration-image-wrapper {
    position: relative;
    text-align: center;
    width: 100%;
}

.student-illustration-image {
    width: 100%;
    height: 350px;
    object-fit: fill;
}

.blue-text {
    color: rgb(0, 119, 255)
}

html,
body {
    overflow-x: hidden;
}