h1 {
    font-size: 80px;
    color: white;
    font-weight: bolder;
}

h2 {
    font-size: 35px;
    padding: 20px;
    border-color: black;
    border-width: 10px;
    font-weight: bold;
}

.header-box {
    display: grid;
    color: lightgray;
    padding: 100px;
    background-color: gray;
}

.upcoming-events {
    display: flex;
    flex-direction: row;
    padding: 80px;
    background-color: cornsilk;
}

.upcoming-event-image-wrapper {
    position: relative;

}

.upcoming-event-image {
    background-color: gray;
    height: 300px;
}

.upcoming-event-date {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 30px;
    background-color: white;
    flex-direction: column;
    text-align: center;

}

.button {
    color: black;
    padding: 30px;
    background-color: white;
    border-color: black;
    border-width: 50px;
}

.month {
    font-size: 20px;
}

.day {
    font-size: 25px
}

.view-all {
    font-size: small;
    font-weight: lighter;
}

.tour-baa {
    padding: 80px;
    background-color: cornsilk;
}

.donations {
    padding: 80px;
    background-color: wheat;
}

.student-spotlight {
    padding: 80px;
    background-color: white;
}

.impact {
    padding: 80px;
    background-color: cornsilk;
}

.impact-circle {
    border: radius 50px
}

.month-review {
    padding: 80px;
    background-color: white;
}

.more-from {
    text-align: center;
    padding: 80px;
    background-color: cornsilk;
}

footer {
    text-align: center;
    padding: 80px;
    background-color: white;
}