h1 {
    font-size: 80px;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    padding: 20px;
    border-color: black;
    border-width: 10px;
    font-weight: bold;
}

.header-box {
    display: grid;
    color: lightgray;
    background-color: gray;

}

.header-box-image {
    object-fit: fill;
}

.upcoming-events {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgray;
}

.upcoming-event-image-wrapper {
    position: relative;

}

.upcoming-event-image {
    background-color: gray;
    height: 300px;
}

.upcoming-event-date {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 30px;
    background-color: white;
    flex-direction: column;
    text-align: center;

}

.button {
    color: black;
    padding: 10px;
    background-color: white;
    border-color: black;
    border-width: 50px;
}

.month {
    font-size: 20px;
}

.day {
    font-size: 25px
}

.view-all {
    font-size: small;
    font-weight: lighter;
}

.tour-baa {
    padding: 80px;
    background-color: cornsilk;
}

.donations {
    padding: 80px;
    background-color: wheat;
}

.student-spotlight {
    padding: 80px;
    background-color: white;
}

.impact {
    padding: 80px;
    background-color: cornsilk;
}

.impact-circle {
    border: radius 50px
}

.month-in-review {
    padding: 80px;
    background-color: white;
}

.month-in-review-title {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.month-in-review-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.more-from {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}

.more-from-title {
    font-weight: bold;
    font-size: 30px;
    padding: 40px;
}

.more-from-buttons {
    color: white;
    padding: 40px;
    border-style: solid;
    border-color: gray;
    border-width: 8px;
    background-color: rgb(160, 160, 160);

}

.student-illustration {
    font-size: 100px;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border-style: solid;
    border-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 170px;
    background-color: gray;
}

.footer-title {
    padding: 40px;
    font-size: 100px;
    color: white;
}

.designing-their-future {
    position: absolute;
    right: 0;
    bottom: 0;
}

.interaction-buttons-1 {
    font-size: 45px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.interaction-buttons-2 {
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.interaction-buttons-box {
    color: white;
    font-size: 50px;
    padding: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    background-color: gray;
}

.shop-interaction-button {
    color: gray;
    font-size: 50px;
    padding: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    background-color: white;
}

.placeholder-image {
    width: 100px;

}

.student-illustration-image-wrapper {
    position: relative;
    text-align: center;
    width: 100%;
}

.student-illustration-image {
    width: 100%;
}

/* add width+wrapper to big header boxes to fill page
-use flex to add stuff to text to the bottom corner
-see.student-illustartion to center text(flex, position ablouet, text alight center....)
-get header box layered like illustrations box
-add image photo to all required spots*/