@import "./styles/hero";
@import"./styles/upcoming_events";
@import"./styles/donations";
@import"./styles/student_spotlight";
h2 {
    font-size: 35px;
    padding: 20px;
    border-color: black;
    border-width: 10px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
}

@media (max-width:700px) {
    h2 {
        font-size: 20px;
        padding: 10px;
        margin-left: 0;
    }
}

.page-section {
    background-color: #DDDDDD;
    padding: 60px 135px;
    margin-left: auto;
    margin-right: auto;
}

.title-spacing {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.descriptions {
    padding: 20px;
    color: black;
    text-align: left;
    font-size: 20px;
}

.view-all {
    padding: 20px;
    border-color: black;
    border-width: 10px;
    font-size: 20px;
    font-weight: lighter;
    text-align: right;
}

.tour-baa {
    padding: 80px;
    background-color: cornsilk;
}

.impact {
    padding: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
}

@media (max-width:1000px) {
    .impact {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

.impact-circle {
    border-radius: 50%;
    height: 50px;
    object-fit: fill;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

@media (max-width:700px) {
    .impact-circle {
        height: 70px;
        width: 70px;
    }
}

.impact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

@media (max-width:700px) {
    .impact-section {
        padding: 10px;
        align-items: center;
    }
}

.gray-line {
    height: 5px;
    background-color: gray;
    width: 100px;
}

.stats {
    width: 200px;
    text-align: center;
    box-shadow: black;
}

.impact-highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    grid-gap: 50px;
}

@media (max-width:700px) {
    .impact-highlights {
        display: flex;
        flex-direction: column;
        padding: 10px;
        grid-row-gap: 0;
        text-align: center;
    }
}

.month-in-review {
    padding: 40px;
    background-color: lightgray;
    align-items: center;
}

@media (max-width:700px) {
    .month-in-review {
        padding: 20px;
    }
}

.month-in-review-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width:700px) {
    .month-in-review-content {
        flex-direction: column;
    }

    .month-in-review-event {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.month-in-review-image {
    background-color: gray;
    object-fit: cover;
}

@media (max-width:700px) {
    .month-in-review-image {
        height: 150px;
        object-fit: cover;
    }

}

.more-from {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}

@media (max-width:700px) {
    .more-from {
        flex-direction: column;
        padding: 5px;
    }
}

.more-from-title {
    font-weight: bold;
    font-size: 30px;
    padding: 40px;
}

@media (max-width:700px) {
    .more-from-title {
        padding: 20px;
        text-align: center;
    }
}

.more-from-buttons {
    color: white;
    padding: 40px;
    border-style: solid;
    border-color: gray;
    border-width: 8px;
    background-color: rgb(160, 160, 160);
}

@media (max-width:700px) {
    .more-from-buttons {
        padding: 10px;
    }
}

.student-illustration {
    font-size: 100px;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border-style: solid;
    border-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 5vw;
    background-color: gray;
}

@media (max-width:900px) {
    footer {
        padding: 10px;
    }
}

.footer-title {
    padding: 40px;
    font-size: 100px;
    color: white;
}

@media (max-width:900px) {
    .footer-title {
        padding: 10px;
        font-size: 30px;
    }
}

.designing-their-future {
    position: absolute;
    right: 0;
    bottom: 0;
}

.interaction-buttons-1 {
    font-size: 45px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width:700px) {
    .interaction-buttons-1 {
        flex-direction: column;
        font-size: 25px;
    }
}

.interaction-buttons-2 {
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width:900px) {
    .interaction-buttons-2 {
        flex-direction: column;
        font-size: 25px;
    }
}

.interaction-buttons-box {
    color: white;
    font-size: 50px;
    padding: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    background-color: gray;
}

@media (max-width:900px) {
    .interaction-buttons-box {
        padding: 10px;
        font-size: 25px;
        border-width: 3px;
    }
}

.shop-interaction-button {
    color: gray;
    font-size: 50px;
    padding: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    background-color: white;
}

@media (max-width:900px) {
    .shop-interaction-button {
        padding: 10px;
        border-width: 3px;
        font-size: 25px;
    }
}

.placeholder-image {
    width: 100px;

}

.student-illustration-image-wrapper {
    object-fit: cover;
    position: relative;
    text-align: center;
    width: 100%;
}

.student-illustration-image {
    width: 100%;
    object-fit: fill;
}

.blue-text {
    color: rgb(0, 119, 255)
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #EEEEEE;
}

@media (max-width: 600px) {
    .nav {
        padding: 20px;
    }
}

.nav-logo {
    font-weight: 700;
    color: #666666;
}

.nav-logo a {
    color: inherit;
    text-decoration: none;
}

.nav-items {
    display: flex;
}

@media (max-width: 600px) {
    .nav-items {
        display: none;
    }
}

.nav-item {
    color: inherit;
    text-decoration: none;
}

.nav-item+.nav-item {
    margin-left: 40px;
}

@media (min-width: 600px) {
    .nav-open-button {
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 20px;
    transform: translateX(0%);
    transition: transform 0.3s;
}

.mobile-menu[data-state="closed"] {
    transform: translateX(-100%);
}

.mobile-menu-button {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: space-between;
    padding: 10px;
}

.mobile-menu-bar {
    display: flex;
    justify-content: flex-end;
}