@import "./styles/hero";
@import"./styles/upcoming_events";
@import"./styles/donations";
@import"./styles/student_spotlight";
@import"./styles/impact";
@import"./styles/month_in_review";
@import"./styles/more_from";
@import"./styles/footer";
@import"./styles/nav";
@import"./styles/mobile_menu";
@import"./styles/student_illustration";
// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

h2 {
    font-size: 35px;
    padding: 20px;
    border-color: black;
    border-width: 10px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
}

@media (max-width:700px) {
    h2 {
        font-size: 20px;
        padding: 10px;
        margin-left: 0;
    }
}

.page-section {
    background-color: #DDDDDD;
    padding: 60px 135px;
    margin-left: auto;
    margin-right: auto;
}

.title-spacing {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.descriptions {
    padding: 20px;
    color: black;
    text-align: left;
    font-size: 20px;
}

.view-all {
    padding: 20px;
    border-color: black;
    border-width: 10px;
    font-size: 20px;
    font-weight: lighter;
    text-align: right;
}

.container {
    align-items: center;
}
// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

