* {
    margin: 0;
    padding: 0;
}

/* Overall Ontop */

.nav-1 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.visiter-support {
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ROW 1 ONTOP */

.nav-2 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* ROW 2 ONTOP */

.banner {
    background-color: lightgray;
}

.about-title {
    font-size: 60px;
    color: white;
}

/* ABOUT BANNER ONTOP */

.nav-3 {
    display: flex;
    flex-direction: row;
}

.our-mission {
    background-color: lightgray;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
}