h1 {
    color: blue;
}

.banner {
    background-color: lightgray;
}

.admission-title {
    display: flex;
    align-items: center;
    font-size: 60px;
    color: white;
}

.nav-3 {
    display: flex;
    flex-direction: row;
}

.admission-info {
    background-color: lightgray;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    flex-direction: column;
}

.more-admission-info {
    display: flex;
    flex-direction: row;
}

.upcoming-admission-events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}