h1 {
    color: blue;
}

.banner {
    background-color: lightgray;
    position: relative;
}

.admission-title {
    display: flex;
    align-items: center;
    font-size: 60px;
    color: white;
}

.nav-3 {
    display: flex;
    flex-direction: row;
}

.admission-info {
    background-color: lightgray;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    flex-direction: column;
    margin-bottom: 50px;
}

.more-admission-info {
    display: flex;
    flex-direction: row;
}

.upcoming-admission-events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.header-title {
    font-size: 110px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    border-color: gray;
    position: absolute;
    top: 50%;
    left: 0%;
}

.header-title {
    font-size: 90px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 180px;
    border-style: solid;
    border-color: gray;
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-80%, -30%);
}

.header-text {
    font-size: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    border-color: gray;
    position: absolute;
    top: 20%;
    right: 0%;
    transform: translateX(50%) rotate(-90deg) translateY(-100%);

}

.application-process-info {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    list-style: none;
}

.related-pages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.application-process-item {
    display: flex;
}

.application-process-number {
    width: 50px;
    height: 50px;
    background-color: grey;
    flex-shrink: 0;
    border-radius: 50%;
    font-weight: bold;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.student-illustration-image-wrapper {
    position: relative;
    text-align: center;
}

.student-illustration {
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 180px;
    border-style: solid;
    border-color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tbd {
    font-size: 150px;
    color: grey;
    display: flex;
    justify-content: center;
}

.related-pages-2 {
    background-color: rgb(184, 184, 184);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.shop-footer {
    text-align: center;
    padding: 200px;
    background-color: gray;
}

.footer-title {
    padding: 40px;
    font-size: 50px;
    color: white;
}

.designing-their-future {
    position: absolute;
    right: 0;
    bottom: 0;
}

.interaction-buttons-1 {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.interaction-buttons-2 {
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.interaction-buttons-box {
    color: white;
    padding: 80px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    background-color: gray;
}

.shop-interaction-button {
    color: gray;
    padding: 80px;
    border-style: solid;
    border-color: white;
    background-color: white;
}

.audition-requirement {
    background-color: rgb(194, 193, 193);
}

.audition-requirement-title {
    font-weight: bold;
    position: absolute;
    left: 3%;
    padding-top: 20px;
}

.accordian-box {
    padding: 50px;
}

.accordian {
    background: #ffffff;
}

.accordian-label {
    background: #ffffff;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(194, 193, 193);
}

.accordian-inner {
    padding: 20px;
}

.accordian-label {
    display: flex;
    justify-content: space-between;
}

.accordian-label::-webkit-details-marker {
    order: 2;
}

.accordian .accordian-label::-webkit-details-marker {
    transform: rotate(90deg);
}

.accordian[open] .accordian-label::-webkit-details-marker {
    transform: rotate(180deg);
}

.faq-title {
    position: absolute;
    color: rgb(164, 164, 164);
    padding-top: 30px;
    padding-left: 30px;
}

.faq-text {
    font-size: 150px;
    color: rgb(164, 164, 164);
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-section {
    padding: 40px;
    background-color: rgb(172, 171, 171);
}

.student-illustration-image {
    height: 300%;
    width: 100%;
    object-fit: cover;



}