h1 {
  color: blue;
}


p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Times, serif;
}

.header-box {
  height: 500px;
}

.sub-nav {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 0.2fr);
}

p {
  margin: 10px;
}

.intro-text {
  background-color: gray;
  padding: 40px;
}

.intro-text p {
  font-size: 30px;
}

.TBD-space {
  height: 1200px;
}

.related-pages-start {
  background-color: rgb(206, 204, 204);
  padding: 50px;
}

.related-pages-start h2 {
  font-size: 24px;
  padding: 10px;
}

.student {
  height: 100px;
}

.related-pages-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.related-pages-item {}

.related-pages-image {
  height: 150px;
  background-color: gray;
  position: relative;
  margin: 5px;
}

.related-pages-date {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  background-color: rgb(255, 255, 255);
}